USE [master]
GO
/****** Object:  Database [AlgebraAppDB]    Script Date: 7.6.2019. 15:06:20 ******/
CREATE DATABASE [AlgebraAppDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlgebraAppDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\AlgebraAppDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AlgebraAppDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\AlgebraAppDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlgebraAppDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlgebraAppDB]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7.6.2019. 15:06:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[IdCourse] [int] NOT NULL,
	[CourseName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Filled] [bit] NOT NULL,
 CONSTRAINT [PK__Course__2E4E0B03BDC5CFC6] PRIMARY KEY CLUSTERED 
(
	[IdCourse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseSignUp]    Script Date: 7.6.2019. 15:06:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseSignUp](
	[IdCourseSignUp] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Telephone] [nvarchar](50) NOT NULL,
	[IdCourse] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__IdCourseSignUp__E55654B87B1BC43C] PRIMARY KEY CLUSTERED 
(
	[IdCourseSignUp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CourseSignUp]  WITH CHECK ADD  CONSTRAINT [FK__Predbilje__IdSem__1273C1CD] FOREIGN KEY([IdCourse])
REFERENCES [dbo].[Course] ([IdCourse])
GO
ALTER TABLE [dbo].[CourseSignUp] CHECK CONSTRAINT [FK__Predbilje__IdSem__1273C1CD]
GO
USE [master]
GO
